body {
    margin: 0;
    padding: 0;
    background: url('Cricket Stadium.jpg') no-repeat center center fixed;
    background-size: cover;
}

.button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 3px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk, Arial, sans-serif;
    font-size: 14px;
    font-weight: 40;
    line-height: 200px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.button-50:focus, .dropbtn:focus {
    text-decoration: none;
}

.button-50:hover, .dropbtn:hover {
    text-decoration: none;
}

.button-50:active, .button-50:not([disabled]):active, .dropbtn:active, .dropbtn:not([disabled]):active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

.button, .dropbtn {
    --b: 5px; 
    --s: .45em; 
    --color: #373B44;

    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background:
    conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 16px;

    border: 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;

    margin-right: 40px; 
}

.button:hover, .button:focus-visible, .dropbtn:hover, .dropbtn:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.button:active, .dropbtn:active {
    background: var(--color);
    color: #fff;
}

.content {
    position: relative;
    text-align: center;
    padding: 50px;
    color: white;
    margin-top: 50px;
}

img {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 5px;
}

#logoutButton {
    position: fixed;
    bottom: 10px;
    right: 10px;
}

table {
    width: 100%;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #000;
    color: #fff;
}

tr {
    background-color: #f5f5f5;
    color: #000
}
